#leafer-editor-layout {
    overflow: hidden;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}


.no-seletion {
    user-select: none;
}

.border-bottom {
    border-bottom: 1px solid var(--color-border);
    border-radius: 2px 2px 0 0;
}



:deep(.arco-input-wrapper .arco-input-prefix) {
    padding-right: 1px;
}